@if (StageBuildResult != null)
{
    <td class="@(StageBuildResult.Success ? "bg-success" : "bg-danger")">
        <a class="text-white" href="@StageBuildResult.Build.Link">@StageBuildResult.Build.Version</a>
    </td>
}
else
{
    <td>
    </td>
}

@code {
    [Parameter]
    public AzureDevOpsDeploymentStatus.Models.StageBuildResult StageBuildResult { get; set; }
}