
<div class="card mt-3">
    <div class="card-header">
        @Name
    </div>
    <div class="card-body">
        <h5 class="card-title">@Version</h5>
    </div>
</div>


@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Version { get; set; }
}
