@page "/"

<h1>Environments</h1>

@if (@buildResults == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Component</th>

                @foreach (var env in environments)
                {
                    <th scope="col">@env</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var pair in buildResults)
            { 
                <tr>
                    <th scope="col">@pair.Key</th>

                    @foreach (var buildResult in buildResults[pair.Key])
                    {
                        <BuildResultTableCell EnvBuildResult=@buildResult />
                    }
                </tr>
            }
        </tbody>
    </table>
}