@page "/"

<h1>Environments</h1>

@if (@results == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Component</th>
                <th scope="col">Dev</th>
                <th scope="col">Test</th>
                <th scope="col">SIT</th>
                <th scope="col">UAT</th>
                <th scope="col">NFT</th>
                <th scope="col">PreProd</th>
                <th scope="col">Prod</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">@results.First().Value.Build.Definition.Name</th>
                <BuildTableCell StageBuildResult=@( results.ContainsKey("Deploy_Dev") ? results["Deploy_Dev"]: null ) />
                <BuildTableCell StageBuildResult=@( results.ContainsKey("Deploy_Test") ? results["Deploy_Test"]: null ) />
                <BuildTableCell StageBuildResult=@( results.ContainsKey("Deploy_SIT") ? results["Deploy_SIT"]: null ) />
                <BuildTableCell StageBuildResult=@( results.ContainsKey("Deploy_UAT") ? results["Deploy_UAT"]: null ) />
                <BuildTableCell StageBuildResult=@( results.ContainsKey("Deploy_NFT") ? results["Deploy_NFT"]: null ) />
                <BuildTableCell StageBuildResult=@( results.ContainsKey("Deploy_PreProd") ? results["Deploy_PreProd"]: null ) />
                <BuildTableCell StageBuildResult=@( results.ContainsKey("Deploy_Prod") ? results["Deploy_Prod"]: null ) />
            </tr>
        </tbody>
    </table>
}