@page "/"

<h1>Environments</h1>

@if (@buildResults == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                @*TODO loop through environments to for this*@
                <th scope="col">Component</th>
                <th scope="col">Dev</th>
                <th scope="col">Test</th>
                <th scope="col">SIT</th>
                <th scope="col">UAT</th>
                <th scope="col">NFT</th>
                <th scope="col">PreProd</th>
                <th scope="col">Prod</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var pair in buildResults)
            { 
                <tr>
                    <th scope="col">@pair.Key</th>

                    @foreach (var buildResult in buildResults[pair.Key])
                    {
                        <BuildResultTableCell EnvBuildResult=@buildResult />
                    }
                </tr>
            }
        </tbody>
    </table>
}